body {
    font-family: "Open Sans";
}

h1 {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

header {
    padding: 20px 0 20px 0;
    background-color: gray;
}

#body-container {
    display: flex;
}

/* SIDEBAR */

#sidebar-container {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    padding: 25px 30px 0 25px;
}

#sidebar-title {
    text-align: center;
    font-size: 20px;
    padding: 10px 0 10px 0;
}

#sidebar-search {
    text-align: center;
    padding: 10px 0 10px 0;
}

#sidebar-search input {
    width: 90%;
    height: 30px;
}

#sidebar-button {
    text-align: center;
    padding: 10px 0 10px 0;
}

#sidebar-button button {
    width: 60%;
    height: 30px;
}

#recent-buttons {
    text-align: center;
    padding: 10px 0 10px 0;
}

#recent-buttons button {
    width: 60%;
    height: 30px;
}

/* MAIN CONTENT */

#main-container {
    display: flex;
    flex-direction: column;
}

/* CITY */

#city-container {
    padding: 25px 0 25px 0;
}

.city-styling {
    padding: 10px 0 10px 0;
}

/* FORECAST */

#city-container {

}